# Python cache files
__pycache__/
*.py[cod]
*.pyo
*$py.class

# Django migrations
*/migrations/*

# Environment variables
.env

# Virtual environments
venv/
ENV/
.venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
